[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://4.bp.blogspot.com/-wlHsQ1AMSi4/V5KQZ1pLcmI/AAAAAAABrWw/NLs0-lkYN6Q9o4TcAH_kcy4SCQP4lz4zACLcB/s1600/giphy-1.gif
Type=Link
URL=https://4.bp.blogspot.com/-wlHsQ1AMSi4/V5KQZ1pLcmI/AAAAAAABrWw/NLs0-lkYN6Q9o4TcAH_kcy4SCQP4lz4zACLcB/s1600/giphy-1.gif
Icon=image-gif
Name[fr_FR]=american psycho.gif
