[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Braveheart Mel Gibson
Type=Link
URL=https://h3-prod.s3.amazonaws.com/assets/963ba5de-fa87-11e4-9d89-12771640ddce.gif?v=1
Icon=image-gif
Name[fr_FR]=Braveheart Mel Gibson
